*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
nav{
    height: 40px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 25px;
}
.nav-links{
    width: 33%;
    display: flex; justify-content: space-between;align-items: center;
}
.navi{
    width: 33%;   
}
a{
    font-size: 120%;
    color: black;
    padding: 9px;
    font-weight: 900;
}
.landing{
    background-color: peachpuff;
}