*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
nav{
    height: 27px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}
.nav-links{
    width: 33%;
    display: flex; justify-content: space-between;align-items: center;
}
.navi{
    width: 30%;   
}
a{
    font-size: 120%;
    color: black;
    padding: 7px;
    font-weight: 900;
}
.landing{
    background-color: peachpuff;
    height: 100vh;
    display: flex;
}
.landarra{
    display: flex;
}.textla{
    width: 50%;
    display: flex; flex-direction: column;
    justify-content: center;
}
.landima{

}