* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  height: 27px;
  background-color: rgb(155, 235, 231);
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.nav-links {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navi {
  width: 300px;
}
a {
  font-size: 120%;
  color: black;
  padding: 10px;
  font-weight: 900;
}
.landing {
  background-color: rgb(231, 209, 250);
  display: flex;
  height: 100vh;
}
.landarra {
  display: flex;
}
.textla {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}
.landima {
  width: 100%;
  animation: float 1000ms infinite alternate-reverse; 
}
.lapfix {
  width: 50%;
  display: flex;
  align-items: center;
  margin-right: 0px;
}
h1 {
  font-size: 60px;
}
.ltext {
  font-size: 32px;
  font-weight: 600;
}
.startb {
  background-color: rgb(9, 192, 192);
  color: white;
  font-weight: 500;
  font-size: 32px;
  border: 0px;
  width: 175px;
  height: 55px;
  transition: all 200ms;
}
.startb:hover {
  background-color: rgb(8, 150, 150);
  border: solid white;
}
@keyframes float {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }
  100% {
    transform: translateY(20px);
  }
}
#about {
  background-color: rgb(238, 238, 138);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}
h2 {
  font-size: 50px;
}
.main-text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-body {
  display: flex;
  justify-content: center;
  padding: 0px 25px 20px 25px;
}
.about-text {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about-i {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.about-im {
  width: 70%;
}
.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}